extends layout

block content
  div(class='container p-3')
    h1(class='text-center')= title
    p(class='text-center') Welcome to #{title}

    a(href="./new" class="btn btn-primary w-100") Add new message 
    ul(class="px-0") 
      each message in  messages
        li(class='bg-secondary shadow my-3 p-3')
          p #{message.text} 
          p by: #{message.user} 
          p #{message.added}
